@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
body{
  background-color:#202124;
  color:white;
  font-family:Nunito;
}
header{
  background-color:#608bdd;
  border-radius:10px;
  text-align:center;
  padding:10px 0;
}
a:link{
  text-decoration:none;
  color:#ffff;
}
a:visited{
  text-decoration:none;
  color:#ffff;
}
a:hover{
  text-decoration:underline;
  color:#68e57c;
}
#about{
  margin-left:20px;
  margin-right:10px;
}
footer{
  background-color:#608bdd;
  border-radius:10px;
  text-align:center;
  padding: 10px 0;
}
.content{
  margin-top:15px;
  margin-bottom:15px;
}
#content-card{
  border-radius:10px;
  border:solid #608bdd;
}
#about-txt{
  padding:20px 0;
  border-radius:10px;
  border:solid #608bdd;
  text-align:center;
  margin-bottom:10px;
}
#download-txt{
  border-radius:10px;
  border:solid #608bdd;
  margin-bottom:10px;
}
